{% load static %}
<!-- Topbar Start -->
<div class="container-fluid px-5 d-none d-lg-block">
    <div class="row gx-5">
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold">Our Office</h6>
                    <span>Moradabad, Gurugram</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center border-start border-end py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold">Email Us</h6>
                    <span>info@dexterousdessins.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center py-3">
            <div class="d-inline-flex align-items-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase fw-bold">Call Us</h6>
                    <span>+91 9873187378</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0"">
    <nav class="navbar navbar-expand-lg bg-dark bg-light-radial py-3 py-lg-0"">
        <a href="{% url 'landing' %}" class="navbar-brand">
            <h3 class="m-0 display-6 text-uppercase text-white"><i
                    class="bi bi-building text-primary me-2"></i>AR Robotics</h3>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: center;">
            <div class="navbar-nav py-0">
                <a href="{% url 'landing' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'project' %}" class="nav-item nav-link">Project</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'shop' %}" class="dropdown-item">Shop</a>
                        <a href="{% url 'team' %}" class="dropdown-item">The Team</a>
                        <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                        <a href="{% url 'blog' %}" class="dropdown-item">Blog Grid</a>
                        <a href="{% url 'detail' %}" class="dropdown-item">Blog Detail</a>
                    </div>
                </div>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                <a href="" class="nav-item nav-link text-black px-5 ms-3 d-none d-lg-block">Get A Quote
                    <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->